/* Mail Preview*/

.email-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-inline: 10px;
  border-bottom: 1px solid #ddd;
}

.email-preview:hover {
  border: 1px solid var(--main-bg-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.email-preview > td:last-child {
  justify-self: end;
}

.email-preview > td {
  align-self: center;
  justify-self: start;
}

.remove-btn {
  margin-left: 10px;
  padding: 7px;
  font-size: 1em;
  color: var(--main-font-color);
  border: none;
  background-color: transparent;
  margin-inline: 10px;
  cursor: pointer;
}

.remove-btn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear;
}

.reply-btn {
  /* margin-left: 10px; */
  padding: 7px;
  font-size: 1em;
  color: var(--main-font-color);
  border: none;
  background-color: transparent;
  margin-inline: 10px;
  cursor: pointer;
}

.details-btn {
  padding: 7px;
  font-size: 1em;
  color: var(--main-font-color);
  border: none;
  background-color: transparent;
  margin-inline: 10px;
  cursor: pointer;
}

.details-btn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear;
}

.star-btn {
  margin-left: 10px;
  padding: 7px;
  font-size: 1em;
  color: var(--main-font-color);
  border: none;
  background-color: transparent;
  margin-inline: 10px;
  cursor: pointer;
}

.star-btn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear;
}

.read-email {
  background-color: var(--main-filter-color);

  font-weight: 400;
  color: var(--main-font-color);
}

@media (max-width: 860px) {
  .email-preview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .email-preview .content {
    grid-row: 2/3;
  }

  .email-preview .subject {
    grid-row: 3/4;
  }
}

@media (min-width: 1040px) {
  .email-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 10px;
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 860px) {
  .email-preview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .email-preview .content {
    grid-row: 2/3;
  }

  .email-preview .subject {
    grid-row: 3/4;
  }
}
