.home {
  width: 85vw;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  text-align: center;
}

.logo {
  text-align: center;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  max-width: 600px;
  z-index: 0;
}

.app-links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.app-links img {
  width: 100px;
  height: auto;
}

.home i {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.home i:hover {
  transform: rotate(180deg);
}

.square {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  border: #333 3px solid;
}

#square1 {
  background-color: #85586f;
}

#square2 {
  background-color: #c9bbcf;
}

#square3 {
  background-color: #ceedc7;
}

#square4 {
  background-color: #d2daff;
}

@media (max-width: 500px) {
  .app-links {
    flex-direction: column;
    gap: 75px;
  }
}





