/* mail index  */

.email-index {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-block-start: 5px;

  gap: 20px;

  font-size: 1.5rem;
  color: var(--main-font-color);
}

.index-toolbar {
  text-align: center;
}

.compose-btn {
  background-color: var(--send-mail-btn);
  color: white;
  padding: 12px 24px;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.compose-btn:hover {
  background-color: rgb(101, 183, 65, 0.7);
  transition: background-color 0.2s ease;
}

/* .email-index > button:hover {
  background-color: #2980b9;
} */

.compose-btn:focus {
  outline: none;
  box-shadow: 1px 0 0 3px rgb(8, 2, 163, 0.9);
}

@media (max-width: 860px) {
  .email-index {
    grid-template-columns: 1fr; /* Change to a single column layout */
  }
}
